
.dropDown{
    position: absolute;
    .dropDownName {
        background-color: white;
        padding: 10px;
        margin-top: 4px;
        border-radius: 5px;
        width: 215px;
        font-weight: bold;
    }
}
