
header {
    h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    margin-top: 50px;
    background-color: black;
    padding: 27px;
    color:white;
    border-left: 12px solid #ffc510;
    }
    .flexBox {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        background-color: black;
        padding: 60px 30px;
        .info {
        position: relative;
        width: 37px;
        }
        .information {
        position: absolute;
        right: 49px;
        width: 400px;
        background: black;
        color: white;
        font-size: 20px;
        padding: 30px;
        border: 1px solid white;
        font-family: 'Comic Neue', cursive;
            .infoP {
                text-transform: capitalize;
                font-weight: bold;
                font-size: 25px;
                margin: 0;
            }
        }
    }
    .flex {
        display: flex;
        p {
            margin: 4px 0px 0px 0px;
            font-size: 25px;
            font-family: 'Comic Neue', cursive;
            color: white;
        }
        form {
            margin-left:10px;
            .submit{
                border-radius: 5px;
                padding: 5px 8px;
                border:none;
                background-color: #e62429;
                color: white;
                font-family: 'Comic Neue', cursive;
            }
            .text {
                border: none;
                padding: 5px;
                border-radius: 5px;
            }
        }
    }
    .fa-info-circle {
            font-size: 35px;
            color:#ffc510;
            
    }

}
