h2 {
    background-color: black;
    padding: 40px;
    text-transform: uppercase;
     font-family: 'Roboto Condensed', sans-serif;
     margin-top: 30px;
     color: white;
} 

.flexContainer{
    display:flex;
    margin-top:30px;
}
.flexChild{
    width: 50%;
    background-color: #000000;
    color: #ffffff;
}
// title
.style {
    text-transform: uppercase;
    font-family: initial;
}
// after tittle
.style span {
    
    font-size: 18px;
    font-family: 'Comic Neue', cursive;
    text-transform: lowercase;

}
.hiddenDiv {
    display:none;
}

h3 {
    font-size: 35px;
}
.fa-heart {
    font-size: 30px;
    color: red;
    padding-top: 32px;
}
.flexItem {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.widthDiv {
    width: 80%;
}

.myTeam{
    padding-bottom: 69px;
     ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        li {
            width: 20%;
            position: relative;
            margin: 5px 1px;
            img {
                border: 6px solid black;
            }
        }
    }
    p {
        background: black;
        padding: 9px;
        color: white;
        margin: 0;
        font-weight: bold;
        font-family: 'Comic Neue', cursive;
        text-align: center;
        text-transform: uppercase;
    }
    i {
        background: black;
        position: absolute;
        left: 0;
        padding: 5px;
        font-size: 31px;
    }

}