@media (max-width:1110px) {
    .widthDiv {
    margin-left: 10%;
    }
    img {
    max-width: initial;
    }
}
@media (max-width:677px) {
    .flexContainer {
    flex-direction: column;
    }
    .flexChild {
    width: initial;
    padding-bottom: 50px;
    }
    img {
    margin: 0 auto;
    padding-top: 50px;
    width: 90%;
    }
    .submit {
    margin-top: 10px;
    }
}