@media (max-width:1110px) {
    .widthDiv {
    margin-left: 10%;
    }
    .displayImage {
        max-width: initial;
    }

}
@media (max-width:677px) {
    .flexContainer {
    flex-direction: column;
    }
    .flexChild {
    width: initial;
    padding-bottom: 50px;
    }
    .displayImage{
    margin: 0 auto;
    padding-top: 50px;
    width: 90%;
    }
    .submit {
    margin-top: 10px;
    }
    .myTeam ul li {
    width: 49%;
    margin: 5px auto;
    }
    .myTeam ul {
    margin: 0 auto;
    }
}
@media (max-width:545px){
    header .flex p {
    margin: 4px 0px 15px 6px;
    }
    header .flex {
    flex-direction: column;
    }
    header .flexBox .information {
    width: 250px;
    right: 38px;
    }
}
@media (max-width:340px) {
    header .flexBox .info {
    right: 13%;
    }
    header .flexBox .information {
    width: 200px;
    }
}